/* 왼쪽 하단 팝업 이미지 */
.popup-img-container {
  position: fixed;
  left: 24px;
  bottom: 24px;
  z-index: 1000;
}
.popup-img {
  width: 300px;
  max-width: 90vw;
  box-shadow: 0 4px 16px rgba(0,0,0,0.18);
  border-radius: 12px;
}


.main-img-btn {
  padding: 0;
  border: none;
  background: none;
  width: 100%;
  display: block;
  cursor: pointer;
}
.main-img {
  width: 100%;
}
