
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-img {
  width: 100%;
  display: block;
}

.header-divider {
  width: 100%;
  height: 1px;
  background: #e0e0e0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  padding-top: 80px;
}

.main-sections {
  display: flex;
  width: 100%;
  margin-top: 36px;
}
.sec1 {
  flex: 0 0 36%;
  height: calc(100vh - 80px);
  overflow-y: auto;
  background: #2196f3;
  margin-left: 132px;
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE, Edge */
}
.sec1::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Opera */
}

.sec1 img {
  width: 100%;
  display: block;
}


.sec2 {
  position: fixed;
  top: 140px;
  right: 0;
  width: 46%;
  height: calc(100vh - 80px);
  background: #4caf50;
  margin-right: 138px;
  overflow-y: auto;
}

.sec2 img {
  width: 100%;
  object-fit: cover;
}