header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

}
.header-img {
  width: 1920px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}




main {  
  width: 1920px;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.main-sections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}




.sec1 {
  width: 36vw;
  min-width: 500px;
  flex: 0 0 36%;
  height: calc(100vh - 80px);
  overflow-y: auto;
  margin-left: 7.8vw;
  scrollbar-width: none;
  -ms-overflow-style: none;   /* IE, Edge */
  padding-top: 40px;
}
.sec1::-webkit-scrollbar {
  display: none;
}

.sec1 img {
  width: 100%;
  display: block;
}




.sec2 {
  /* position: fixed; ?†úÍ±∞Î°ú flex item?ù¥ ?ê® */
  width: 46vw;
  min-width: 900px;
  height: calc(100vh - 80px);
  background: #ffffff;
  margin-left: 10px;
  margin-right: 8.4vw;
  overflow-y: auto;
  padding-top: 50px; 
}
.sec2::-webkit-scrollbar {
  display: none;
}

.sec2-top {
  display: flex;
  gap: 12px; /* Î≤ÑÌäº ?Ç¨?ù¥ Í∞ÑÍ≤© */
  margin-bottom: 1px;
  position: sticky;
  top: -20px;
  background: #ffffff;
  z-index: 10;
  padding-top: 16px;
  padding-bottom: 16px;
}

.sec2-top button {
  border-radius: 24px;
  background: #f8f8f8;
  border: 1px solid #efefef;
  color: #393939;
  padding: 4px 8px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}
.sec2-top button:hover {
  background: #e0e0e0;
  color: #000;
}

.sec2-bottom img {
  width: 1000px;
  height: auto;
  display: block;
  max-width: 100%; /* Added for responsiveness */
  box-sizing: border-box; /* Added for box sizing */
  border: none;
}