header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-img {
  width: 100%;
  display: block;
}




body {
  padding-top: 80px;
}

.main-sections {
  display: flex;
  width: 100%;
  margin-top: 36px;
}

.sec1 {
  width: 36vw;
  flex: 0 0 36%;
  height: calc(100vh - 80px);
  overflow-y: auto;
  background: #2196f3;
  margin-left: 7.8vw;
  scrollbar-width: none;
  -ms-overflow-style: none;   /* IE, Edge */
}
.sec1::-webkit-scrollbar {
  display: none;
}

.sec1 img {
  width: 100%;
  display: block;
}




.sec2 {
  position: fixed;
  top: 110px;
  right: 0;
  width: 46vw;
  height: calc(100vh - 80px);
  background: #4caf50;
  margin-right: 7.8vw;
  overflow-y: auto;
}
.sec2::-webkit-scrollbar {
  display: none;
}
.sec2 img {
  width: 100%;
  object-fit: cover;
}
.sec2-top {
  display: flex;
  gap: 12px; /* 버튼 사이 간격 */
  margin-bottom: 16px;
}

.sec2-bottom img {
  width: 100%;
  height: auto;
  display: block;
}