
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

}
.header-img {
  width: 1600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}





.main-sections {
  width: 1600px;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}




.sec1 {
  min-width: 500px;
  flex: 0 0 30%;
  height: calc(100vh - 80px);
  overflow-y: auto;
  margin-left: 7.8vw;
  scrollbar-width: none;
  -ms-overflow-style: none;   /* IE, Edge */
  padding-top: 40px;
}
.sec1::-webkit-scrollbar {
  display: none;
}

.sec1 img {
  width: 100%;
  display: block;
}




.sec2 {
  flex: 0 0 50%;
  height: calc(100vh - 80px);
  background: #ffffff;
  margin-left: 10px;
  margin-right: 8.4vw;
  overflow-y: auto;
  padding-top: 50px; 
}
.sec2::-webkit-scrollbar {
  display: none;
}

.sec2 img{
  width: 100%;
  display: block;
}